.window_ashley {
	background: rgba(53, 53, 53, 0.6);
}

.chat_ashley {
	background: linear-gradient(0deg, rgba(255,95,95,1) 0%, rgba(189,120,172,1) 100%);
	border-radius: 24px;
	border-bottom-left-radius: 12px;
	padding: 12px;
	margin-right: 48px;
	color: white;
	box-shadow: inset 0px 0px 4px 1px rgba(255, 255, 255, 0.25);
}

.chat_ashley text {
	background: none;
}

.chat_user {
	background: linear-gradient(0deg, rgba(245,245,245,0.75) 0%, rgba(245,245,245,0.75) 100%);
	border-radius: 24px;
	border-bottom-right-radius: 12px;
	padding: 12px;
	margin-left: 48px;
	box-shadow: inset 0px 0px 4px 1px rgba(255, 255, 255, 0.25);
}

.chat_user text {
	background: none;
}

.entry_area {
	padding: 32px;
	background: linear-gradient(0deg, rgba(83,83,83,1) 0%, rgba(0,0,0,0) 100%);
	border-bottom-left-radius: 16px;
	border-bottom-right-radius: 16px;
}

headerbar {
	background: linear-gradient(0deg, rgba(53, 53, 53, 0.6) 0%, rgba(83,83,83,1) 100%);
	color: white;
	border: none;
}

.content entry {
	border-radius: 24px;
	box-shadow: inset 0px 0px 4px 1px rgba(255, 255, 255, 0.125);
	background: linear-gradient(0deg, rgba(245,245,245,0.425) 0%, rgba(245,245,245,0.425) 100%);
}

.content button {
	border-radius: 100%;
	box-shadow: inset 0px 0px 4px 1px rgba(255, 255, 255, 0.125);
	background: linear-gradient(0deg, rgba(245,245,245,0.425) 0%, rgba(245,245,245,0.425) 100%);
	padding: 4px 8px;
	border: none;
}

.content button:hover {
	background: linear-gradient(0deg, rgba(245,245,245,0.75) 0%, rgba(245,245,245,0.75) 100%);
}

.content button:active {
	background: linear-gradient(0deg, rgba(107,205,206,0.75) 0%, rgba(92,224,182,0.75) 100%);
}
